extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action="/postImage", method="post", enctype="multipart/form-data")
    input(type="file", name="displayImage")
    input(type="submit", name="Send", value="Upload")

